body {
    font-family: sans-serif;
    margin: 2em;
    background-color: white;
}

h1 {
    font-size: 180%;
    font-weight: bold;
    padding-bottom: 0.3em;
    border-bottom: 0.1em solid black;
    margin: 0em 0em 1.2em 0em;
}


table.info {
    border-collapse: collapse;
}

table.info td {
    text-align: left;
    font-weight: normal;
    padding: 0.45em;
    border: 1px solid #808080;
}

table.info td.label {
    background: #F8F8F8;
}

table.info td.value span {
    font-weight: bold;
}
